span.red {
  color: red;
}
span.blue {
  color: blue;
}
table td {
  text-align: center;
}

.game, .summary, .recent, .all {
  display: inline-block;
  width: 32%;
}
th {
  background-color: gray !important;
  color: white;
}
.start {
  margin: 10px;
  text-align: center;
}