span.red {
  color: red;
}
span.blue {
  color: blue;
}
table td {
  text-align: center;
}

.game, .recent, .all {
  display: inline-block;
  width: 30%;
}
th {
  background-color: black !important;
  color: white;
}